.nav > li {
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px;
  position: relative;
}

.nav > li:hover .nav--dropdown {
  display: block;
}

.nav--dropdown {
  display: none;
  position: absolute;
}


